@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

html,
body,
#root,
.App {
  min-height: 100%;
  background-color: rgba(253, 247, 220, 1);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  padding-top: 80px;
}
